/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  align-items: center;
  background-color: #563d7c;
}
.nav-title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-title a {
  font-size: 1.5rem;
}
.nav-left {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  font-size: 1.4rem;
}
.nav-item:hover {
  border-bottom: 2px solid #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.icon{
  color: #fff;
  font-size: 1.6rem;
  margin-right: 5px;
}
@media (max-width:700px) {

  .nav-left {
    font-size: 1rem;
    width: 45%;

  }
}