/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  align-items: center;
  background-color: #563D7C;
}
.nav-left {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  font-size: 22px;
}

